#{margin: 0; padding: 0;}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Bebas Neue', cursive; */
}
header{
    background-color: #fffbf0;
}
.navbar{
    
}
.navbar-brand{
    background-image: url(img/logo-icon/dot-bg.png);
    background-repeat: no-repeat;
    background-position:right;
}
.navbar-brand img{
    width: 40%;
}
.text-yellow{
    color: #fabe4c;
}
.text-dimblue{
    color: #363958;
}
.main-poster h1{
    font-size: 4em;
}
.poster-info-warp h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 5em;
}
.btn-bg{
    background-image: linear-gradient(-45deg, #9fb73e, #8ca622);
}
#navbarNav{
    white-space: nowrap;
}
.card-img{
    width: auto;
    height: 330px;
}
.card-img img{
    width: 100%;
    height: 100%;
}
.card{
    border: 0;
}
.card-body .card-title{
    color: #363958;
}
.women-sec-title, .man-sec-title{
    font-family: 'Bebas Neue', cursive;
    color: #363958;
}
.ftr-lft-txt-content1 h5{
    color: #363958;
}
.float-right{
    float: right;
}
.float-left{
    float: left;
}